path {
  fill: #ccc;
  stroke: #fff;
  stroke-width: .5px;
}

path:hover {
  fill: #FDD017;
  cursor: pointer;
}

#neighborhood {
  padding: 5px;
  font-size: 16px;
}

#neighborhood span {
  font-weight: bold;
  border-bottom: solid 2px #FDD017;
}

#dim-value {
  padding: 5px;
}

.hover {
  position: absolute;
  width: 250px;
  z-index: 20;
  background: #fff;
  border: 2px solid #333;
}

.step-zero {
  fill: #ccc;
  color: #ccc;
}

.step-one {
  color: #BDD7E7;
  fill: #BDD7E7;
}

.step-two {
  color: #6BAED6;
  fill: #6BAED6;
}

.step-three {
 color: #3182BD;
  fill: #3182BD;
}

.step-four {
  color: #08519C;
  fill: #08519C;
}