#embed p {
  font-size: 16px;
}

#embed .row {
  max-width: 750px;
  min-width: 750px;
}

path {
  fill: #ccc;
  stroke: #fff;
  stroke-width: .5px;
}

path:hover {
  fill: #FDD017;
  cursor: pointer;
}

#neighborhood {
  padding: 2px 5px;
  font-size: 20px;
}

#neighborhood span {
  font-weight: bold;
  border-bottom: solid 2px #FDD017;
}

#legend {
  font-size: 12px;
  margin-top: 20px;
}

#legend text {
  font-size: 12px;
}

#lookup.full {
  font-size: 20px;
}

#dim-value {
  padding: 2px 5px;
}

#results {
  color: #555;
  font-size: 17px;
}

#results span {
  background-color: papayaWhip;
  display: block;
  padding: 10px;
}

.info {
  margin-top: 20px;
}

.hover {
  position: absolute;
  width: 280px;
  z-index: 20;
  background: #fff;
  border: 2px solid #333;
}

#legend text {
  font-size: 12px;
}

#legend text.title {
  font-size: 14px;
}

#legend line {
  stroke: #000;
}

#legend .last {
  display: none;
}

footer {
  margin-bottom: 20px !important;
}

.step-zero {
  fill: #FEE5D9;
  color: #FEE5D9;
}

.step-one {
  color: #FCBBA1;
  fill: #FCBBA1;
}

.step-two {
  color: #FC9272;
  fill: #FC9272;
}

.step-three {
 color: #FB6A4A;
  fill: #FB6A4A;
}

.step-four {
  color: #DE2D26;
  fill: #DE2D26;
}

.step-five {
  color: #A50F15;
  fill: #A50F15;
}